// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Fonts Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// App styles
i.fas.fa-edit {
    color: $yellow-dark;
}
i.fas.fa-trash-alt {
    color: $red;
}
i.fas {
    font-size: 16px;
}
.action-icon {
    margin: 0 5px;
    padding: 0;

    background: transparent;
    border: none;

    &:hover {
        filter: brightness(0.9);
    }
}

.btn-plus {
    font-size: 16px;
    line-height: 15px;
    padding: 6px;
}

.cdc-table {
    @media all and (max-width: 767px) {
        &__main-col {
            padding: 0;
        }
    }

    &__header {
        display: flex;
        align-items: center;
    }

    &__title {
        line-height: 1.575rem;
        margin: 0 15px 0 0;
    }

    .action-column {
        form {
            display: inline-block;
        }
    }

    .card {
        height: 100%;
    }
}

.tags .tag {
    padding: 0.4em 0.8em;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    margin: 0 0.5px;

    &,
    & a {
        color: #fff;
    }
}

.records-table {
    .btn-plus {
        font-size: 12px;
        line-height: 12px;
        padding: 4px;
    }
}
