// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Fonts Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// App styles
i.fas.fa-edit {
    color: $yellow-dark;
}
i.fas.fa-trash-alt {
    color: $red;
}
i.fas {
    font-size: 16px;
}
.action-icons {
    margin: 0 5px;

    &:hover {
        filter: brightness(0.9);
    }
}

.btn-plus {
    font-size: 16px;
    line-height: 15px;
    padding: 6px;
}

.cdc-table {
    &__header {
        display: flex;
        align-items: center;
    }

    &__title {
        line-height: 1.575rem;
        margin: 0 15px 0 0;
    }
}
