.tags .tag {
    padding: 0.4em 0.8em;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    margin: 0 0.5px;
    font-weight: 600;

    &,
    & a {
        color: #fff;
    }
}
