// Global CSS Custom Properties
:root {
    --background-color-white: #fff;
}

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Gobal SASS vars colors:
$cdc_colors: (
    dark-blue: #007bff,
    blue: #3490dc,
    indigo: #6574cd,
    purple: #9561e2,
    pink: #f66d9b,
    red: #e3342f,
    orange: #f6993f,
    yellow: #ffed4a,
    dark-yellow: #f8e11a,
    green: #38c172,
    teal: #4dc0b5,
    cyan: #6cb2eb,
    gray: #777,
    black: #000,
    white: #fff
);

// Borders
$dark-thin-border: 1px solid $black;

// Global SASS Vars
$ft_min_width: 45rem; // Fluid Typography Default viewport limits
$ft_max_width: 110rem;

$media-query-breakpoints: (
    mobile-xs: 325px,
    mobile-sm: 375px,
    mobile-md--: 420px,
    mobile-md: 480px,
    mobile-lg--: 550px,
    mobile-lg: 640px,
    tablet-sm-fonts: 700px,
    tablet-sm: 768px,
    tablet: 820px,
    tablet-md--: 860px,
    tablet-md: 940px,
    tablet-lg: 992px,
    desktop-sm: 1024px,
    desktop: 1100px,
    desktop-md: 1200px,
    desktop-lg: 1300px
);

$navbar-height-desktop: 7rem;

$wide-font-size: 2.1rem;
$general-font-size: 1.8rem;
$small-font-size: 1.4rem;
